.hide-scrollbar {
  -webkit-overflow-scrolling: touch; /* Ensure smooth scrolling on mobile */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
